<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        施設一覧
      </div>
      <div class="col-7">
      </div>
      <div class="col-2 text-center text-light">
         <%= form_with url: admin_root_path, method: :get do |f| %>
          <%= f.select :ordered, [  ['投稿が新しい順', 'new'],
                                    ['閲覧数が多い', 'view'],
                                    ['公開のみ', 'release'],
                                    ['非公開のみ', 'private']
          ], {prompt: '選択してください' }, class: "form-select form-select-sm border border-secondary", id: "sort" %>
          <%= f.hidden_field :company, :value=> @search_facility %>
          <%= f.hidden_field :service_id, :value=> @search_service %>
        <% end %>
        <script>
          $('#sort').change(function() {
          $(this).parent().submit();
        });
        </script>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row p-2 bg-dark-subtle">
    <table class="table m-0">
      <thead class="table-dark text-center">
        <tr>
          <th>施設名</th>
          <th>登録メールアドレス</th>
          <th>閲覧数</th>
          <th>公開ステータス</th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tbody class="text-center">
          <tr>
          <td><%= link_to user.name, admin_facility_path(user.id), class: "text-dark" %></td>
          <td><%= user.email %></td>
          <td><%= user.impressions_count %></td>
            <% if user.is_deleted == true %>
              <td class="text-secondary">退会</td>
            <% elsif user.is_deleted == false %>
              <td class="text-success">有効</td>
            <% else %>
              <td>なし</td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <%= paginate @users %>
    </div>
  </div>
  
</div>
