<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト一覧
      </div>
      <div class="col-7">
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 rounded-pill bg-dark">
  <div class="row p-3 d-flex text-center text-light">
    <spam>ソフト情報の新規登録は</span>
    <%= link_to "こちら", admin_softs_new_path, class: "text-light" %>
    <span>から</span>
  </div>
</div>

 
 
 <div class="container mt-5">
   <div class="row">
     <div class="col-2">
       ソフト一覧
     </div>
     <div class="col-10 p-2">
       <div class="border border-dark">
       </div>
     </div>
   </div>
 </div>
 
 
<div class="container mt-5 rounded enclosure_color">
  <div class="row d-flex justify-content-center">
    <% @works.each do |work| %>
      <span>
        <%= link_to work.kind, admin_softs_path(work_id: work.id) %>
      </span>
    <% end %>
  </div>
  <div class="row">
    <% @softs.each do |soft| %>
      <div class="col-3 m-1">
        <div class="card border border-dark">
        <div class="card-body">
          <h6 class="card-title"><%= link_to soft.company, admin_soft_path(soft.id), class: "text-dark" %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= soft.work_id %></h6>
          <div class="row border_dashe m-1"></div>
          <p class="card-text mb-3"><%= truncate("#{soft.introduction}", length: 15, omission: "..." ) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>