<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト情報投稿画面
      </div>
      <div class="col-7">
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>

<div class="bg_image_blue"> 
  <%= form_with model: @soft, url: softs_path, method: :post do |f| %>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="container mb-4 p-2 shadow">
            <%= image_tag 'no_image.jpg', width: '100%', height: '100%'%>
          </div>
          <div class="mb-4">
            <%= f.file_field :logo_image, accept: "image/*" %>
          </div>
          <div class="container p-2 bg_color shadow"> 
            <div class="row justify-content-center m-4 p-2">
              <%= f.text_field :company, placeholder: "会社名", class: "form-control-plaintext border-secondary border-bottom border-top-0" %>
            </div>
            <div class="row justify-content-center h-100">
              <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
                業務分類
              </div>
              <div class="col-5 text-center m-4 p-2">
                  <%= f.select :work_id, options_from_collection_for_select(Work.all, :id, :kind) ,{} , class: "form-control-plaintext"%>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
                本社所在地
              </div>
              <div class="col-5 text-center m-4 p-2">
                <%= f.text_field :address, class: "form-control-plaintext border-secondary border-bottom border-top-0" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
                創立日
              </div>
              <div class="col-5 text-center m-4 p-2">
                <%= f.text_field :founding, placeholder: "XXXX年",class: "form-control-plaintext border-secondary border-bottom border-top-0" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10 text-center m-4 p-2">
                <%= f.text_field :url, placeholder: "ここにURL（例：http://example.com）を記載してください", class: "form-control-plaintext border-secondary border-bottom border-top-0 placeholder_font" %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-1">
        </div>
        <div class="col-7 vh-100">
          <div class="p-1 fw-bold">
            このソフトの紹介文
          </div>
          <div class="h-25 p-2 bg-primary-subtle">
            <%= f.text_area :introduction, placeholder: "ここにソフトの詳細を記載してください",class: "form-control-plaintext  border-secondary border-bottom border-top-0", style: "height:100%" %>
          </div>
          
          <div class="mt-4 ps-1 fw-bold">
            基本料金情報
          </div>
          <div class="bg-primary-subtle">
            <%= f.text_field :first_cost, placeholder: "初回費用 (500円の場合 -> 500)", class: "form-control-plaintext p-1 border-secondary border"%>
          </div>
          <div class="bg-primary-subtle">
            <%= f.text_field :month_cost, placeholder: "月額費用 (1,000円の場合 -> 1000)", class: "form-control-plaintext p-1 border-secondary border border-top-0"%>
          </div>
          <div class="bg-primary-subtle">
            <%= f.text_field :year_cost, placeholder: "年額費用 (10,000円の場合 -> 10000)", class: "form-control-plaintext p-1 border-secondary border border-top-0"%>
          </div>
          
          <div class="mt-4 ps-1 fw-bold">
            主な機能
          </div>
          <div class="h-25 bg-primary-subtle">
            <%= f.text_area :function, placeholder: function_placeholder, class: "form-control-plaintext p-1 border-secondary border-bottom border-top-0", style: "height:100%" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container mt-2 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-4">
        </div>
        <div class="col-4">
          <%=f.submit "ソフト情報を提供する", data: { confirm: "提供した情報の修正はできません" }, class: "form-control btn btn-outline-primary btn-lg" %>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  <% end %>
</div>