 <div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 pt-1 text-center text-light">
        ソフト情報詳細
      </div>
      <div class="col-7">
      </div>
      <div class="col-3">
        <% if user_signed_in? %>
          <% if Softmark.where(user_id: current_user.id, soft_id: @soft.id).exists? %>
            <%= link_to "お気に入りを解除", soft_softmark_path(current_user.softmarks.find_by(soft_id: @soft.id)), method: :delete, class: "btn btn-outline-success" %>
          <% else %>
            <%= link_to "お気に入りに登録", soft_softmarks_path(@soft, softmark: {soft_id: @soft.id}), method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg_image_blue"> 
 <div class="container mt-5 mb-4">
    <div class="row">
      <div class="col-4">
        <div class="container mb-4 p-2 shadow">
          <%= image_tag @soft.get_logo_image(400, 500), width: '100%', height: '100%' %>
        </div>
        <div class="container mt-5 p-2 bg_color shadow"> 
          <div class="row justify-content-center m-4 p-2 border-bottom border-dark">
            <%= @soft.company %>
          </div>
          <div class="row justify-content-center h-100">
            <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
              業務分類
            </div>
            <div class="col-5 text-center m-4 p-2">
                <%= @soft.work.kind %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
              本社所在地
            </div>
            <div class="col-5 text-center m-4 p-2">
              <%= @soft.address %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 text-center h-25 m-4 p-2 fw-bold">
              創立日
            </div>
            <div class="col-5 text-center m-4 p-2">
              <%= @soft.founding %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 text-center m-4 p-2">
              <%= @soft.url %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-7 h-100">
        <div class="ps-1 fw-bold">
          このソフトの紹介文
        </div>
        <div class="h-25 p-2 bg-primary-subtle">
          <%= safe_join(@soft.introduction.split("\n"),tag(:br))  %>
        </div>
        
        <div class="mt-4 ps-1 fw-bold">
          基本料金情報
        </div>
        <div class="row mx-1 pt-2 pb-2 justify-content-center bg-primary-subtle">
          <div class="col-2 align-self-center">
            初回費用
          </div>
          <div class="col-2 align-self-center">
            <%= @soft.first_cost %>円
          </div>
        </div>
        <div class="row mx-1 pt-2 pb-2 justify-content-center bg-primary-subtle">
          <div class="col-2 align-self-center">
            月額 
          </div>
          <div class="col-2 align-self-center">
            <%= @soft.month_cost %>円
          </div>
        </div>
        <div class="row mx-1 pt-2 pb-2 justify-content-center bg-primary-subtle">
          <div class="col-2 align-self-center">
            年額 
          </div>
          <div class="col-2 align-self-center">
            <%= @soft.year_cost %>円
          </div>
        </div>
        <div class="mt-4 ps-1 fw-bold">
          主な機能
        </div>
        <div class="h-25 p-2 bg-primary-subtle">
          <%= safe_join(@soft.function.split("\n"),tag(:br))  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary-subtle">
  <div class="container bg-light">
    <div class="container pt-5">
      <div class="row mt-3">
        <div class="col-2">
          投稿コメント一覧(全<%= @comments.count %>件)
        </div>
        <div class="col-10 mt-2 border-top border-dark">
        </div>
      </div>
    </div>
    
    <% if flash[:notice_softcomment].present? %>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <%= flash[:notice_softcomment] %>
        </div>
      </div>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="container mt-4 mb-4">
        <%=form_with model: @softcomment, url: soft_softcomments_path(@soft.id), method: :post do |f| %>
          <div class="row mt-4 ms-4">
              <div class="col-4">
                  <%= f.radio_button :name, current_user.name %>
                  <%= f.label :name, current_user.name, {value: current_user.name, style: "display: inline-block;"} %>
                  <%= f.radio_button :name, "匿名" %>
                  <%= f.label :name, "匿名", {value: "匿名", style: "display: inline-block;"} %>
              </div>
            </div>
          <div class="row mx-3">
            <div class="col-10">
              <%= f.text_area :content, class: "form-control" %>
            </div>
            <div class="col-2">
              <%= f.submit "投稿する", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <div class="container">
      <% @comments.each do |comment| %>
        <div class="row mt-5 mx-4">
          <div class="col-3">
            <%= comment.name %>
          </div>
          <div class="col-6">
          </div>
          <div class="col-3">
            <% if user_signed_in? %>
              <% if params[:user_id] = current_user.id && comment.is_public == false %>
                <%= link_to "非公開にする", soft_softcomment_path(@soft, id: comment.id, softcomment: {is_public: true}), method: :patch,
                    class: "m-1 btn btn-secondary btn-sm" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row mx-3 p-2 bg-primary-subtle">
          <div class="col-10">
            <%= safe_join(comment.content.split("\n"),tag(:br)) %>
          </div>
        </div>
      <% end %>
      <div class="row pt-3 pb-3">
        <div class="col-10">
        </div>
        <div class="col-2">
          <% if user_signed_in? %>
            <%= link_to "一覧はこちら>>",soft_softcomment_path(@soft, user_id: current_user.id) %>
          <% else %>
            <%= link_to "一覧はこちら>>",soft_softcomment_path(@soft) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
