<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト一覧
      </div>
      <div class="col-8">
      </div>
      <div class="col-2">
        <%= form_with model: @softs, url: admin_softs_path, method: :get do |f| %>
          <%= f.select :ordered, [  ['投稿が新しい順', 'new'],
                                    ['閲覧数が多い', 'view']
          ], {prompt: '選択してください' }, class: "form-select form-select-sm border border-secondary", id: "sort" %>
          <%= f.hidden_field :company, :value=> @search_soft %>
          <%= f.hidden_field :work_id, :value=> params[:work_id] %>
        <% end %>
        <script>
          $('#sort').change(function() {
          $(this).parent().submit();
        });
        </script>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 p-4 rounded-pill bg-dark">
  <div class="row d-flex text-center text-light">
    <spam>ソフト情報の新規登録は</span>
    <%= link_to "こちら", admin_softs_new_path, class: "text-light" %>
    <span>から</span>
  </div>
</div>

 
 
 <div class="container mt-5">
   <div class="row">
     <div class="col-2">
       ソフト一覧
     </div>
     <div class="col-10 p-2">
       <div class="border border-dark">
       </div>
     </div>
   </div>
 </div>
 
 
<div class="container mt-5 p-2 rounded enclosure_color">
  <div class="row justify-content-center">
    <% @works.each do |work| %>
    <div class="col-3">
      <%= link_to work.kind, admin_softs_path( company: @search_soft, work_id: work.id) %>
    </div>
    <% end %>
  </div>
  <div>
    
  </div>
  
  <div class="row p-3">
    <table class="table">
      <tr>
        <thead class="table-dark text-center">
          <th class="col-4">
            ソフト名
          </th>
          <th class="col-3">
            業務分類
          </th>
          <th class="col-2">
            閲覧数
          </th>
          <th class="col-3">
            公開ステータス
          </th>
        </thead>
      </tr>
      <tr>
        <% @softs.each do |soft| %>
        <tbody class="text-center">
          <td>
            <%= link_to soft.company, admin_soft_path(soft.id), class: "text-dark" %> 
          </td>
          <td>
            <%= soft.work_id %>
          </td>
          <td>
            <%= soft.impressions_count %>
          </td>
          <% if soft.is_public == false %>
            <td class="text-secondary">非公開</td>
          <% elsif soft.is_public == true %>
            <td class="text-success">公開</td>
          <% else %>
            <td>なし</td>
          <% end %>
        </tbody>
        <% end %>
      </tr>
    </table>
  </div>
</div>