 <div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト情報詳細
      </div>
      <div class="col-7">
      </div>
      <div class="col-3">
        <%= link_to "ソフト情報を編集する", edit_admin_soft_path %>
      </div>
    </div>
  </div>
</div>
 
 <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-4">
        <div class="container mb-4 p-2 enclosure_color">
          <%= image_tag @soft.get_logo_image(400, 500), width: '100%', height: '100%'%>
        </div>
        <div class="container p-2 enclosure_color"> 
          <div class="row justify-content-center m-4 p-2 bg-light">
            <%= @soft.company %>
          </div>
          <div class="row justify-content-center h-100">
            <div class="col-4 text-center h-25 m-4 p-2 bg-light">
              業務分類
            </div>
            <div class="col-5 text-center m-4 p-2 content_color">
                <%= @soft.work_id %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 text-center h-25 m-4 p-2 bg-light">
              本社所在地
            </div>
            <div class="col-5 text-center m-4 p-2 content_color">
              <%= @soft.address %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 text-center h-25 m-4 p-2 bg-light">
              創立日
            </div>
            <div class="col-5 text-center m-4 p-2 content_color">
              <%= @soft.founding %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 text-center m-4 p-2 content_color">
              <%= @soft.url %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-1">
      </div>
      <div class="col-7 vh-100">
        <div class="p-1 text-light bg-dark">
          このソフトの紹介文
        </div>
        <div class="h-25 enclosure_color">
          <%= @soft.introduction %>
        </div>
        
        <div class="p-1 text-light bg-dark">
          基本料金情報
        </div>
        <div class="p-1 enclosure_color">
          初回費用 <%= @soft.first_cost %>円
        </div>
        <div class="p-1 enclosure_color">
          月額 <%= @soft.month_cost %>円
        </div>
        <div class="p-1 enclosure_color">
          年額 <%= @soft.year_cost %>円
        </div>
        
        
        <div class="p-1 text-light bg-dark">
          主な機能
        </div>
        <div class="h-25 enclosure_color">
          <%= @soft.function %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-2">
      投稿コメント一覧(全<%= %>件)
    </div>
    <div class="col-10 border-bottom border-dark">
    </div>
  </div>
</div>

<div class="container enclosure_color mt-4 mb-4">
  <% @soft_comments.each do |comment| %>
    <div class="row">
      <%= comment.is_public %>
      <%= comment.content %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-2">
      <%= link_to "一覧はこちら>>" %>
    </div>
  </div>
</div>