 <div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト一覧
      </div>
      <div class="col-8">
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>

<% if flash[:notice_soft].present? %>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <%= flash[:notice_soft] %>
    </div>
  </div>
<% end %>

<div class="bg_image_white">
  <div class="container mt-5 rounded-pill bg-dark">
    <div class="row p-3 d-flex text-center text-light">
      <spam>ソフト情報の新規登録は</span>
      <%= link_to "こちら", softs_new_path, class: "text-light" %>
      <span>から</span>
    </div>
  </div>


 
 <div class="mt-4 container bg-primary-subtle">
    <div class="row">
      <ul id="tab-menu" class="mb-0">
        <li class="col-4">
          <a href="#tab1" class="">
            <div class="pt-1 text-center">
              会計経理関係
          </a>
        </li>
        <li class="col-4">
          <a href="#tab2" class="">
            <div class="pt-1 text-center">
              労務関係
            </div>
          </a>
        </li>
        <li class="col-4">
          <a href="#tab3" class="">
            <div class="pt-1 text-center">
              利用者関係
          </a>
        </li>
      </ul>
    </div>
    
    <div class="row pb-2 bg-primary-subtle">
      <div id="tab-contents">
        <div id="tab1" class="tab">
            <div class="container mt-5">
              <div class ="row mt-3">
                <div class="col-10">
                </div>
                <div class ="col-2">
                  <%= form_with url: dammes_path(local: false), method: :get do |f| %>
                    <%= f.select :ordered, [  ['投稿が新しい順', 'new'],
                                              ['投稿が古い順', 'old'],
                                              ['閲覧数が多い', 'view_many'],
                                              ['閲覧数が少ない', 'view_few']
                    ], {prompt: '選択してください' }, class: "form-select form-select-sm border border-secondary", id: "sort" %>
                    <%= f.hidden_field :company, :value=> @soft %>
                  <% end %>
                  <script>
                    $('#sort').change(function() {
                    $(this).parent().submit();
                  });
                  </script>
                </div>
              </div>
            </div>
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs_1 } %> 
        </div>
    
        <div id="tab2" class="tab">
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs_2 } %> 
        </div>
    
        <div id="tab3" class="tab">
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs_3 } %> 
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-2">
        <%= paginate @softs %>
        </div>
      </div>
    </div>
  </div>
  
  <%= javascript_pack_tag 'dammes/index' %>