 <div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        ソフト一覧
      </div>
      <div class="col-8">
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>

<% if flash[:notice_soft].present? %>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <%= flash[:notice_soft] %>
    </div>
  </div>
<% end %>

<div class="bg_image_white">
  <div class="container mt-5 rounded-pill bg-dark">
    <div class="row p-3 d-flex text-center text-light">
      <spam>ソフト情報の新規登録は</span>
      <%= link_to "こちら", softs_new_path, class: "text-light" %>
      <span>から</span>
    </div>
  </div>

  <div class="container mt-5">
    <div class ="row mt-3">
      <div class="col-10">
      </div>
      <div class ="col-2">
        <%= form_with url: softs_path, method: :get do |f| %>
          <%= f.select :ordered, [  ['投稿が新しい順', 'new'],
                                    ['投稿が古い順', 'old'],
                                    ['閲覧数が多い', 'view_many'],
                                    ['閲覧数が少ない', 'view_few']
          ], {prompt: '選択してください' }, class: "form-select form-select-sm border border-secondary", id: "sort" %>
          <%= f.hidden_field :company, :value=> @soft %>
          <%= f.hidden_field :work_id, :value=> @work %>
        <% end %>
        <script>
          $('#sort').change(function() {
          $(this).parent().submit();
        });
        </script>
      </div>
    </div>
  </div>
 
 <div class="container">
    <div class="row">
      <ul id="tab-menu">
        <li>
          <div class="pt-1 text-center border border-bottom-0 border-secondary-subtle bg-light">
            <%= link_to "会計経理関係", softs_path( company: @soft, work_id: 1), class: "text-dark text-decoration-none" %>
          </div>
        </li>
        <li>
          <div class="pt-1 text-center">
            <%= link_to "労務関係", softs_path(company: @soft, work_id: 2), class: "text-decoration-none" %>
          </div>
        </li>
        <li>
          <div class="pt-1 text-center">
            <%= link_to "利用者関係", softs_path(company: @soft, work_id: 3), class: "text-decoration-none" %>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="row">
      <div id="tab-contents">
        <div id="tab1" class="tab">
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs } %> 
        </div>
    
        <div id="tab2" class="tab">
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs } %> 
        </div>
    
        <div id="tab3" class="tab">
          <%= render partial: 'public/shared/soft_cards', locals: { softs: @softs } %> 
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-2">
        <%= paginate @softs %>
        </div>
      </div>
    </div>
  </div>
  
  <%= javascript_pack_tag 'dammes/index' %>