<!DOCTYPE html>
<html>
  <head>
    <title>RecruitmentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5a199eb244.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class = "d-flex flex-column vh-100 bg_color">
    <header class="border bg-light">
      <nav class = "navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
          <% if admin_signed_in? %>
            <% if request.fullpath.include? "/admin" %>
              <p class ="navbar-brand pt-3"> LOGO </p>
            <% else %>
              <a class ="navbar-brand p-3" href='<%= root_path %>'> LOGO </a>
            <% end %>
          <% elsif user_signed_in? %>
            <a class ="navbar-brand p-3" href='<%= root_path %>'> LOGO </a>
          <% else %>
            <a class ="navbar-brand p-3" href='<%= root_path %>'> LOGO </a>
          <% end %>  
          <button class ="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>
                  <li class="nav-item mr-auto" >  
                    <%= link_to admin_root_path, class: 'nav-link active text-dark', "aria-current": :"page" do %>
                      <i class="fa-solid fa-house"></i>
                      <span>施設一覧</span>
                    <% end %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to admin_softs_path, class: 'nav-link active text-dark', "aria-current": :"page" do %>
                    <i class="fa-brands fa-uncharted"></i>
                    <span>ソフト一覧</span>
                    <% end %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to "編集通知一覧", admin_soft_edit_notices_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to "サービス一覧", admin_services_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link active text-dark', "aria-current": :"page" %>
                  </li>
                  <li class="nav-item ms-5 me-2" > 
                    <%= render partial: 'layouts/shared_header/search_icon' %>
                  </li>
                  <li class="nav-item mr-auto">
                    <%= render partial: 'layouts/shared_header/admin_facility_search' %>
                  </li>
                  <li class="nav-item mr-auto">
                    <%= render partial: 'layouts/shared_header/admin_soft_search' %>
                  </li>
                <% else %>
                  <li class="nav-item mr-auto" > 
                    <%= render partial: 'layouts/shared_header/facility_index' %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= render partial: 'layouts/shared_header/soft_index' %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                  </li>
                  <li class="nav-item mr-auto" > 
                    <%= link_to "ログイン", new_user_session_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                  </li>
                  <li class="nav-item ms-5 me-2">
                    <%= render partial: 'layouts/shared_header/search_icon' %>
                  </li>
                  <li class="nav-item">
                    <%= render partial: 'layouts/shared_header/facility_search' %>
                  </li>
                  <li class="nav-item">
                    <%= render partial: 'layouts/shared_header/soft_search' %>
                  </li>
                <% end %>
              <% elsif user_signed_in? %>
                <li class="nav-item mr-auto" > 
                  <%= render partial: 'layouts/shared_header/facility_index' %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= render partial: 'layouts/shared_header/soft_index' %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= link_to "マイページ", users_mypage_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active text-dark', "aria-current": :"page" %>
                </li>
                <li class="nav-item ms-5 me-2" > 
                  <%= render partial: 'layouts/shared_header/search_icon' %>
                </li>
                <li class="nav-item mr-auto">
                  <%= render partial: 'layouts/shared_header/facility_search' %>
                </li>
                <li class="nav-item mr-auto">
                  <%= render partial: 'layouts/shared_header/soft_search' %>
                </li>
        　　    <% else %>
                <li class="nav-item mr-auto" > 
                  <%= render partial: 'layouts/shared_header/facility_index' %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= render partial: 'layouts/shared_header/soft_index' %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                </li>
                <li class="nav-item mr-auto" > 
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link active text-dark', "aria-current": :"page" %>
                </li>
                <li class="nav-item ms-5 me-2" > 
                  <%= render partial: 'layouts/shared_header/search_icon' %>
                </li>
                <li class="nav-item mr-auto">
                    <%= render partial: 'layouts/shared_header/facility_search' %>
                </li>
                <li class="nav-item mr-auto">
                  <%= render partial: 'layouts/shared_header/soft_search' %>
                </li>
            　 <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class = "mt-auto border bg-light">
      <div class="container text-center m-4">
        お問い合わせこちら
      </div>
    </footer>
  </body>
</html>
